* {
    color: white
}
img {
    height: 300px;
    width: 300px;

    border: solid;
    border-color: blueviolet;
}

.container {
    border: solid;
    border-color: blueviolet;

    padding: 45px;
    margin-top: 0%;
}

body, html {
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh;
    justify-content: center;

    background-color: #333;
    font-family: 'Montserrat Alternates', sans-serif;

}

.Infos {
    font-size: 20px;
    width: 300px;
}

.Infos, i {
    font-size: 25px;

    text-decoration: double;
}

h2 {
    margin-bottom: 5px;
}

.Timer {
    width: 300px;
    margin-top: 25px;
}

.Bar {
    width: 300px;
    height: 10px;

    display: flex;

    border: 2px solid blueviolet;
    border-radius: 5px;

    align-items: center;
    justify-content: flex-start;
}

progress {

    height: 6px;
    width: 0%;
}

.Point {
    width: 20px;
    height: 20px;
    background-color: blueviolet;
    border-radius: 50%;

    margin-left: -10px;
}

.Time {
    display: flex;
    width: 300px;

    justify-content: space-between;
}

.play-button, .pause-button {
    font-size: 45px;

    cursor: pointer;
    align-items: center;
}

.direction {
    font-size: 35px;

    display:inline-block;
    margin-right: 20px;
    margin-left: 17.5px;

    align-items: center;
    cursor: pointer;
}

.pause-button {
    display: none;
}

.Player {

    margin-left: 20.5%;
}
